<?xml version="1.0" encoding="UTF-8"?>
<!--
 Location-, Relation- and Incident Object Report enumeration types for PHP Faker

 This file is a part of FakerLocRelTypes

 author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
 copyright 2022 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 license   Subject matter of licence is the software FakerLocRelTypes.
           The above author, copyright, link and licence notices shall be
           included in all copies or substantial portions of the FakerLocRelTypes.

           FakerLocRelTypes is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           FakerLocRelTypes is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with FakerLocRelTypes. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="The Tests">
            <file>./test/FakerRfc4589LocationTest.php</file>
            <file>./test/FakerRfc7970enumsTest.php</file>
            <file>./test/FakerRfc8288RelationTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <file>./src/Provider/en_US/Rfc4589LocationTypes.php</file>
            <file>./src/Provider/en_US/Rfc7970enums.php</file>
            <file>./src/Provider/en_US/Rfc8288RelationTypes.php</file>
        </include>
        <exclude>
            <file>./src/Provider/en_US/LocationTypes.php</file>
            <file>./src/Provider/en_US/RelationTypes.php</file>
        </exclude>
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions-->
        <!-- Remove or comment after your own choice-->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs/PHPUnitCoverage" lowUpperBound="60" highLowerBound="80"/>
            <php outputFile="testDocs/coverage.php"/>
            <text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
            <!-- xml outputDirectory="testDocs/xml-coverage"/ -->
        </report>
    </coverage>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->
        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
        <text outputFile="testDocs/logfile.txt"/>
    </logging>
</phpunit>
